<html>
	<head>
		<title>
			Departmental Complaints
		</title>
		<style>
			.table {
				border: 1px solid black;
			}
			#head {
				text-align: center;
				background: rgba(232,92,65,0.7);
			}
		</style>
	</head>
	<body>
			<div class="complaint-container">
			<br><br>
			<div class="complaint">
				
			<table class="table" border="1">
				<tr class='complaint-row' id='head'>
					<td>Complaint</td>
					<td>Pincode</td>
					<td>City</td>
					<td>Urgency</td>
					<td>Status</td>
					<td>Current Status</td>
				</tr>
				<% for (var i=0; i < data.length; i++) { %>
				   <tr class = 'complaint-row'>
				     <td><%= data[i].complaint %></td>
				     <td><%= data[i].plaintiff_pincode %></td>
				     <td><%= data[i].plaintiff_city %></td>
				     <td><%= data[i].urgency %></td>
		             <td><form action='/changeStatus' method="POST">
				        <input type="radio" name="status" value="finish" id="finish"> Finished<br>
						<input type="radio" name="status" value="process" id="process"> On Process<br>
						<input type="radio" name="status" value="notstarted" id="notstarted"> Not Started<br>
						<input type="submit" id="submit" value="Submit"><br>
						<input type="hidden" name="id" id="id" value= '<%= data[i].id %>' >
						<input type="hidden" name="department" id="department" value="<%= department %>">
		            </form>
		            </td>
		           <td><%= data[i].complaint_status %></td>
				   </tr>
				<% } %>
			</table>
			</div>

		</div>
	</body>
</html>

	